@tailwind base;
@tailwind components;
@tailwind utilities;

.link-border {
  @apply mx-2 group-hover:border-b group-hover:border-accentCyan;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.5s;
  @apply bg-white;
  /* @apply dark:bg-white; */
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.header-right-side {
  background: #be229c;
  filter: blur(250px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  @apply absolute top-0 right-0 w-80 h-80
}

.scroll-btn {
  writing-mode: tb-rl;
}

.btn-primary {
   @apply inline-flex text-lg  rounded-full text-center bg-colorMain py-4 px-6 items-center font-bold;
}

.btn-secondary {
     @apply inline-flex text-lg rounded-full text-center text-black bg-colorMain md:bg-inherit md:border md:text-white md:border-white py-4 px-6 items-center font-semibold md:font-bold;

}

.h2-theme {
  @apply text-5xl text-white font-bold capitalize leading-[58px];
}

.h3-theme {
  @apply text-3xl text-white font-semibold capitalize leading-9;
}

.fan-fact-group {
  @apply flex flex-col justify-center items-center text-white py-16;
}

.solutions-left::before {
  content: url('/images/solutions-element.png');
  position: absolute;
  
  @apply md:left-[32%] md:bottom-0 left-[1.5rem] bottom-[4.5rem]
}

.solutions-left::after {
  content: url('/images/solution-element-2.png');
  position: absolute;
  @apply md:-right-[28%] md:top-[4%] right-0 -top-[4.5rem]
}